---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Yan</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="split">
        <div class="info-wrapper">
            <div class="info">
                <p>②〇②⑥<br>&nbsp&nbsp＼<br>&nbsp;&nbsp;&nbsp;&nbsp;(portfolio).<a href="https://ryanyan.ca" target="_blank">ryanyan.ca</a></p>
                <img style="width:80px" src="assets/mii.gif">
                <p><i>Ryan Yan</i> is a graphic + motion designer based in Brooklyn ↑↓ Toronto.<br><br>Currently →→→ <a href="https://pentagram.com" target="_blank">☆𝑃𝑒𝑛𝑡𝑎𝑔𝑟𝑎𝑚</a>. He studied Graphic Design and Computation at the <a href="https://risd.edu" target="_blank">⊙𝚁𝚑𝚘𝚍𝚎 𝙸𝚜𝚕𝚊𝚗𝚍 𝚜𝚌𝚑𝚘𝚘𝚕 𝚘𝚏 𝙳𝚎𝚜𝚒𝚐𝚗.</a> Previously ↩&#xFE0E; at <a href="https://apple.com" target="_blank">ₐₚₚₗₑ</a>, <a href="https://risdguild.com" target="_blank">ℜℑ𝔖𝔈 𝔇𝔢𝔰𝔦𝔤𝔫 𝔊𝔲𝔦𝔩𝔡</a>.<br><br>🄲🄾🄽🅃🄰🄲🅃<br><a href="https://instagram.com/yanshngyun" target="_blank">□ Instagram</a><br><a href="https://www.linkedin.com/in/ryanshangyunyan/" target="_blank">◇ LinkedIn</a><br><a href="#" id="email-link" data-email="ryanshangyun@gmail.com">▷ Email</a><br><a href="https://are.na/ryan-yan" target="_blank"> Arena</a></p>
                <div style="width:100%; height:1px; background-color:rgb(163, 163, 163); margin-top:50px;"></div>
                <p style="color:rgb(163, 163, 163)">
                    𝓁𝒶𝓈𝓉 𝓊𝓅𝒹𝒶𝓉ℯ: September 25, 2026
                </p>
            </div>
        </div>
        <div class="project-wrapper">
            {% for project in site.projects %}
            {% include project.html project=project %}
            {% endfor %}
        </div>
    </div>
    <script src="assets/scripts/lazy-video.js"></script>
    <script src="assets/scripts/copy-email.js"></script>
</body>
</html>